<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="lightApp">
<meta name="author" content="Achal Channarasappa">

<title>LightApp</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Custom CSS -->
<link href="css/full-width-pics.css" rel="stylesheet">

<style>
	body 	{ padding-top:50px; }
</style>






