<!DOCTYPE html>
<html lang="en">
<head>
	<% include /partials/head %>
</head>
<body class="container">

	<header>
		<% include /partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>lightApp</h1>
			<p>" lightApp works as a part of a home automation abstraction. In this use case, a tessel microcontroller interfaces with this website to control whether or not lights are on or off in a room. A tessel relay module allows this to be possible. The setup can be used to control any on/off devices via a web application."</p>
		</div>
	</main>

	<footer>
		<% include /partials/footer %>
	</footer>
	
</body>
</html>