<!DOCTYPE html>
<html lang="en">
<head>
	<% include /partials/head %>
</head>
<body class="container">

	<header class="image-bg-fluid-height">
		<% include /partials/header %>
		 <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
	</header>
<!-- 
	<main>
		<div class="jumbotron">
			<h1>lightApp</h1>
			<p>lightApp works as a part of a home automation abstraction. In this use case, a tessel microcontroller interfaces with this website to control whether or not lights are on or off in a room. A tessel relay module allows this to be possible. The setup can be used to control any on/off devices via a web application.</p>
		</div>
	</main> -->

	   <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">lightApp</h1>
                    <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Section Heading</h1>
                    <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

	<footer>
		<% include /partials/footer %>
	</footer>
	
</body>
</html>