
<!DOCTYPE html>
<html lang="en">
<head>
  <% include /partials/head %>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
  </script>
  <script type="text/javascript" src="lighting.js">
  </script>
</head>
<body class="container">

  <header>
    <% include /partials/header %>
  </header>

  <main>

    <div class="row">
      <div class="col-sm-8">
      
        <div class="jumbotron">
          <h1>Control Lighting</h1>

           <form name="on" action="/log/lightOn" method="GET">
           <input id="status" type="hidden" name="status" value="1">
            <input id="dateOn" type="hidden" name="datetime" value=""><br>
           <button type="submit">Turn Lights On</button>
           </form>

           <form name="off" action="/log/lightOff" method="GET">
           <input id="status" type="hidden" name="status" value="0">
            <input id="dateOff" type="hidden" name="datetime" value="">
           <button type="submit">Turn Lights Off</button>
           </form>
        </div>
        
      </div>
      <div class="col-sm-4">
        
        <div class="well">
          <h3> Sunrise & Sunset Times</h3>
          <form name="time" id="time">
            <input onclick="clickCounter()" type="button" value="Find Times">
          </form>
          <br/>
          <p id="timeResp"></p>
          <br/>
          <div id="result"></div>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <% include /partials/footer %>
  </footer>
  
</body>
</html>