<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<%= JSON.stringify(obj[obj.length - 1]) %>
		<% if JSON.status == 1 %>
			<p> The LIGHTS ARE ON!?!?!??!?!??!?!</p>
			<br/>
			<br/>
		<% else %>
			<h1>naw</h1>
		<%end%>
	</body>
</html>