<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>

	<body>
	<h1> Send Text Notification </h1>


	<button class="instant-awesome"> Send Text Alert </button>
	</body>
</html>


