<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>

	<body>
	<h1> Send Text Notification </h1>


	<button class="instant-awesome"> Send Text Alert </button>
		<script type="text/javascript">
		$('button').click(function(){
			client.messages.create();
			// dbRoutes.send("this is being exported");
			//console.log("clicking 'instant-awesome'");
		});
		</script>
	</body>
</html>


